<a class="vt" href="https://jobs.dou.ua/companies/ajax-systems/vacancies/216525/?from=list_hot">Senior С++Developer</a>
<a class="vt" href="https://jobs.dou.ua/companies/ajax-systems/vacancies/217607/">Middle Developer inTest CSA (Python)</a>
<a class="vt" href="https://jobs.dou.ua/companies/ajax-systems/vacancies/214657/">Senior Hardware Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/ajax-systems/vacancies/211784/">Deep Learning Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/ajax-systems/vacancies/174716/">Senior Embedded Developer (OSMalevich)</a>
<a class="vt" href="https://jobs.dou.ua/companies/ajax-systems/vacancies/217118/">Junior/Middle QAEngineer (Automation team)</a>
<a class="vt" href="https://jobs.dou.ua/companies/ajax-systems/vacancies/217074/">Project Manager (Automation team)</a>
<a class="vt" href="https://jobs.dou.ua/companies/ajax-systems/vacancies/216946/">ManualQA (Malevich)</a>
<a class="vt" href="https://jobs.dou.ua/companies/ajax-systems/vacancies/213851/">Tech Lead Python Developer intest (Malevich Team)</a>
<a class="vt" href="https://jobs.dou.ua/companies/ajax-systems/vacancies/206161/">Senior DevOps Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/ajax-systems/vacancies/200652/">Pre-sales Engineer (English)</a>
<a class="vt" href="https://jobs.dou.ua/companies/ajax-systems/vacancies/132726/">Senior iOS Developer</a>
<a class="vt" href="https://jobs.dou.ua/companies/ajax-systems/vacancies/206620/">Embedded Developer (Fibra Team)</a>
<a class="vt" href="https://jobs.dou.ua/companies/ajax-systems/vacancies/208777/">Junior Python Developer intest (Malevich)</a>
<a class="vt" href="https://jobs.dou.ua/companies/ajax-systems/vacancies/203354/">Senior Java Developer</a>
<a class="vt" href="https://jobs.dou.ua/companies/ajax-systems/vacancies/216423/">Сompensation and benefits specialist (C&amp;BHR)</a>
<a class="vt" href="https://jobs.dou.ua/companies/ajax-systems/vacancies/184571/">Technical Recruiter</a>
<a class="vt" href="https://jobs.dou.ua/companies/ajax-systems/vacancies/212095/">Embedded Tech Lead (Fire Team)</a>
<a class="vt" href="https://jobs.dou.ua/companies/ajax-systems/vacancies/213293/">Lead Embedded DevOps Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/ajax-systems/vacancies/197693/">Middle Manual QAEngineer (B2C)</a>
