<a class="vt" href="https://jobs.dou.ua/companies/allstars-it/vacancies/216668/">Content Manager (USmarket)</a>
<a class="vt" href="https://jobs.dou.ua/companies/allstars-it/vacancies/216607/">DevOps Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/allstars-it/vacancies/209960/">Middle/Senior React Developer (network security product)</a>
