<a class="vt" href="https://jobs.dou.ua/companies/avenga/vacancies/217760/">Middle Python Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/avenga/vacancies/217700/">Middle Java Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/avenga/vacancies/217523/">Senior Node.js Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/avenga/vacancies/217513/">Senior Full-Stack Engineer (.NET, JS)</a>
<a class="vt" href="https://jobs.dou.ua/companies/avenga/vacancies/214798/">Sales Researcher</a>
<a class="vt" href="https://jobs.dou.ua/companies/avenga/vacancies/217380/">Senior Angular Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/avenga/vacancies/217376/">Senior React Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/avenga/vacancies/217171/">Middle/Senior Project Manager</a>
<a class="vt" href="https://jobs.dou.ua/companies/avenga/vacancies/216987/">Corporate Trainer</a>
<a class="vt" href="https://jobs.dou.ua/companies/avenga/vacancies/216985/">AQA Engineer (.NET)</a>
<a class="vt" href="https://jobs.dou.ua/companies/avenga/vacancies/216942/">Microsoft 365 Administrator</a>
<a class="vt" href="https://jobs.dou.ua/companies/avenga/vacancies/216941/">Middle Data Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/avenga/vacancies/216939/">Software Architect (Java)</a>
<a class="vt" href="https://jobs.dou.ua/companies/avenga/vacancies/215662/">Middle DevOps Engineer (Python)</a>
<a class="vt" href="https://jobs.dou.ua/companies/avenga/vacancies/215642/">Middle/Senior PHP Engineer</a>
