<a class="vt" href="https://jobs.dou.ua/companies/beetroot/vacancies/217706/">Video &amp;Stream Creator</a>
<a class="vt" href="https://jobs.dou.ua/companies/beetroot/vacancies/217695/">Middle/Senior SEO Specialist</a>
<a class="vt" href="https://jobs.dou.ua/companies/beetroot/vacancies/217595/">Junior Python Developer</a>
<a class="vt" href="https://jobs.dou.ua/companies/beetroot/vacancies/206075/">Full-stack JS/ Python developer</a>
<a class="vt" href="https://jobs.dou.ua/companies/beetroot/vacancies/217249/">Front-End Tech Leader</a>
<a class="vt" href="https://jobs.dou.ua/companies/beetroot/vacancies/214297/">Senior Node.js Developer</a>
<a class="vt" href="https://jobs.dou.ua/companies/beetroot/vacancies/216994/">Middle/Senior C#/.NET developer</a>
<a class="vt" href="https://jobs.dou.ua/companies/beetroot/vacancies/216774/">Delivery Coordinator/ Project manager</a>
<a class="vt" href="https://jobs.dou.ua/companies/beetroot/vacancies/216658/">Middle/Senior Python Developer</a>
<a class="vt" href="https://jobs.dou.ua/companies/beetroot/vacancies/214000/">Senior Python developer</a>
<a class="vt" href="https://jobs.dou.ua/companies/beetroot/vacancies/216511/">Middle/Senior React Developer</a>
<a class="vt" href="https://jobs.dou.ua/companies/beetroot/vacancies/199258/">XRDeveloper</a>
