<a class="vt" href="https://jobs.dou.ua/companies/dataart/vacancies/188138/">Business Data Analyst, Investment Management Solutions</a>
<a class="vt" href="https://jobs.dou.ua/companies/dataart/vacancies/208176/">Full Stack Developer (React+.NET), Online Survey Tools</a>
