<a class="vt" href="https://jobs.dou.ua/companies/eleks/vacancies/217736/">Senior Web\UI\UX Designer</a>
<a class="vt" href="https://jobs.dou.ua/companies/eleks/vacancies/217718/">Middle Test Automation Engineer (Python)</a>
<a class="vt" href="https://jobs.dou.ua/companies/eleks/vacancies/217518/">Employee Relations Specialist</a>
<a class="vt" href="https://jobs.dou.ua/companies/eleks/vacancies/217248/">Middle SQL/DB Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/eleks/vacancies/216667/">Data Scientist</a>
<a class="vt" href="https://jobs.dou.ua/companies/eleks/vacancies/215996/">SEO Specialist</a>
<a class="vt" href="https://jobs.dou.ua/companies/eleks/vacancies/215710/">Product Manager/Program Manager</a>
<a class="vt" href="https://jobs.dou.ua/companies/eleks/vacancies/215627/">Senior Software Developer</a>
