<a class="vt" href="https://jobs.dou.ua/companies/genesis-technology-partners/vacancies/214472/">UI/UX Designer (Boosters)</a>
<a class="vt" href="https://jobs.dou.ua/companies/genesis-technology-partners/vacancies/208494/">Sales Development Representative (Genesis MCN)</a>
<a class="vt" href="https://jobs.dou.ua/companies/genesis-technology-partners/vacancies/215252/">Flutter Mobile Developer (Basenji Apps)</a>
<a class="vt" href="https://jobs.dou.ua/companies/genesis-technology-partners/vacancies/217682/">Marketing Communication Manager (Genesis MCN)</a>
<a class="vt" href="https://jobs.dou.ua/companies/genesis-technology-partners/vacancies/217652/">UI/UX Designer (Jiji)</a>
<a class="vt" href="https://jobs.dou.ua/companies/genesis-technology-partners/vacancies/215310/">Middle Data Engineer (Universe)</a>
<a class="vt" href="https://jobs.dou.ua/companies/genesis-technology-partners/vacancies/217602/">Data Scientist</a>
<a class="vt" href="https://jobs.dou.ua/companies/genesis-technology-partners/vacancies/215127/">Spanish Support Agent (Remote)</a>
<a class="vt" href="https://jobs.dou.ua/companies/genesis-technology-partners/vacancies/215024/">Operations Manager</a>
<a class="vt" href="https://jobs.dou.ua/companies/genesis-technology-partners/vacancies/206329/">Creator Success Manager (Genesis MCN)</a>
<a class="vt" href="https://jobs.dou.ua/companies/genesis-technology-partners/vacancies/188208/">Marketing Intern (Impulse, EdTech)</a>
<a class="vt" href="https://jobs.dou.ua/companies/genesis-technology-partners/vacancies/214921/">Product Designer (Headway, EdTech)</a>
<a class="vt" href="https://jobs.dou.ua/companies/genesis-technology-partners/vacancies/214838/">Middle Frontend Developer</a>
<a class="vt" href="https://jobs.dou.ua/companies/genesis-technology-partners/vacancies/214780/">Project Manager (Keiki)</a>
<a class="vt" href="https://jobs.dou.ua/companies/genesis-technology-partners/vacancies/217385/">Data Scientist (MakeUp)</a>
<a class="vt" href="https://jobs.dou.ua/companies/genesis-technology-partners/vacancies/217332/">Content Manager (SEO)</a>
<a class="vt" href="https://jobs.dou.ua/companies/genesis-technology-partners/vacancies/217325/">People Partner (Keiki)</a>
<a class="vt" href="https://jobs.dou.ua/companies/genesis-technology-partners/vacancies/141864/">Unity Developer (Keiki)</a>
<a class="vt" href="https://jobs.dou.ua/companies/genesis-technology-partners/vacancies/217278/">Payments Analyst</a>
<a class="vt" href="https://jobs.dou.ua/companies/genesis-technology-partners/vacancies/158629/">Legal Counsel</a>
