<a class="vt" href="https://jobs.dou.ua/companies/hys-enterprise/vacancies/216004/">Content Marketing Specialist</a>
<a class="vt" href="https://jobs.dou.ua/companies/hys-enterprise/vacancies/215667/">Conference/Event Manager</a>
<a class="vt" href="https://jobs.dou.ua/companies/hys-enterprise/vacancies/213015/">Head ofITDepartment</a>
