<a class="vt" href="https://jobs.dou.ua/companies/infopulse/vacancies/217757/">Middle/Senior Software Test Automation Engineer (Java): ID11671</a>
<a class="vt" href="https://jobs.dou.ua/companies/infopulse/vacancies/217741/">Senior Automation QAEngineer (ID: 11666)</a>
<a class="vt" href="https://jobs.dou.ua/companies/infopulse/vacancies/217631/">Senior Software Test Automation Engineer (JavaScript): ID11667</a>
<a class="vt" href="https://jobs.dou.ua/companies/infopulse/vacancies/210009/">BizTalk Developer (ID: 11438)</a>
<a class="vt" href="https://jobs.dou.ua/companies/infopulse/vacancies/217574/">Senior Embedded Software Engineer (C++) (ID: 11532)</a>
<a class="vt" href="https://jobs.dou.ua/companies/infopulse/vacancies/217573/">Senior Embedded Software Engineer (Clanguage) (ID:11531)</a>
<a class="vt" href="https://jobs.dou.ua/companies/infopulse/vacancies/217572/">Software QAAutomation Engineer (ID: 11530)</a>
<a class="vt" href="https://jobs.dou.ua/companies/infopulse/vacancies/217571/">Senior Build/DevOps Engineer (ID: 11543)</a>
<a class="vt" href="https://jobs.dou.ua/companies/infopulse/vacancies/217512/">Network Engineer (ID:11519)</a>
<a class="vt" href="https://jobs.dou.ua/companies/infopulse/vacancies/217433/">Senior ServiceNow Business Analyst</a>
<a class="vt" href="https://jobs.dou.ua/companies/infopulse/vacancies/217410/">Senior Network Engineer (ID:11658)</a>
<a class="vt" href="https://jobs.dou.ua/companies/infopulse/vacancies/217398/">Senior Java Full Stack Developer (ID: 11640)</a>
<a class="vt" href="https://jobs.dou.ua/companies/infopulse/vacancies/217366/">C/C++ Developer (ID: 11618)</a>
<a class="vt" href="https://jobs.dou.ua/companies/infopulse/vacancies/217298/">Junior Telco Engineer (IREG) (ID:11661)</a>
<a class="vt" href="https://jobs.dou.ua/companies/infopulse/vacancies/217140/">Middle Full Stack Developer (Java/Angular) (ID:11634)</a>
<a class="vt" href="https://jobs.dou.ua/companies/infopulse/vacancies/217125/">Junior Embedded CDeveloper (ID:11524)</a>
<a class="vt" href="https://jobs.dou.ua/companies/infopulse/vacancies/183764/">Application Security Engineer (ID:10518)</a>
<a class="vt" href="https://jobs.dou.ua/companies/infopulse/vacancies/217012/">Cyber Security AnalystL2</a>
<a class="vt" href="https://jobs.dou.ua/companies/infopulse/vacancies/203336/">Middle/Senior ITEngineer (SharePoint)</a>
<a class="vt" href="https://jobs.dou.ua/companies/infopulse/vacancies/216934/">DevOps Engineer</a>
