<a class="vt" href="https://jobs.dou.ua/companies/intetics-co/vacancies/217495/">Call center agent</a>
<a class="vt" href="https://jobs.dou.ua/companies/intetics-co/vacancies/217315/">DevOps Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/intetics-co/vacancies/217235/">Front-end Developer</a>
<a class="vt" href="https://jobs.dou.ua/companies/intetics-co/vacancies/217079/">Middle/Senior QAAutomation Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/intetics-co/vacancies/213711/">Middle/Senior MLEngineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/intetics-co/vacancies/216561/">Middle/Senior Python Egineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/intetics-co/vacancies/215703/">Golang Software Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/intetics-co/vacancies/215559/">Senior Magento Engineer</a>
