<a class="vt" href="https://jobs.dou.ua/companies/leobit/vacancies/215091/">Intermediate UI/UX Designer</a>
<a class="vt" href="https://jobs.dou.ua/companies/leobit/vacancies/217387/">Senior .NET Engineer</a>
