<a class="vt" href="https://jobs.dou.ua/companies/luxoft/vacancies/216890/">Sl3Support/Operation Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/luxoft/vacancies/216748/">Team Leader</a>
<a class="vt" href="https://jobs.dou.ua/companies/luxoft/vacancies/216722/">Senior C++Telematics Developer</a>
<a class="vt" href="https://jobs.dou.ua/companies/luxoft/vacancies/216681/">Regular Java Developer (opportunity for big data upskilling)</a>
<a class="vt" href="https://jobs.dou.ua/companies/luxoft/vacancies/216680/">Senior Java Developer (Kafka Scalability_MUST, SQL, non-SQL, Reactive programming)</a>
<a class="vt" href="https://jobs.dou.ua/companies/luxoft/vacancies/216679/">Senior Azure DevOps Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/luxoft/vacancies/216678/">Regular DevOps Engineer (AWS, Kubernetes, Kafka)</a>
<a class="vt" href="https://jobs.dou.ua/companies/luxoft/vacancies/216677/">Regular DevOps Engineer_remote UA ( Kafka orJava/Scala must)</a>
<a class="vt" href="https://jobs.dou.ua/companies/luxoft/vacancies/216676/">Senior Embedded Developer (C++)</a>
<a class="vt" href="https://jobs.dou.ua/companies/luxoft/vacancies/216675/">Developer at3Dtools and plugins, SolidWorks (C#)</a>
<a class="vt" href="https://jobs.dou.ua/companies/luxoft/vacancies/216674/">C++Developer— Platform Stability and Porting Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/luxoft/vacancies/216318/">Regular/Senior Java Developer</a>
<a class="vt" href="https://jobs.dou.ua/companies/luxoft/vacancies/216317/">Automation Test Engineer (Python)</a>
<a class="vt" href="https://jobs.dou.ua/companies/luxoft/vacancies/216316/">Scala Team Lead</a>
