<a class="vt" href="https://jobs.dou.ua/companies/megogonet-/vacancies/211834/">DevOps engineer (Data department)</a>
<a class="vt" href="https://jobs.dou.ua/companies/megogonet-/vacancies/216047/">Senior Front-End Developer</a>
