<a class="vt" href="https://jobs.dou.ua/companies/miratech/vacancies/180465/">Recruitment Researcher</a>
<a class="vt" href="https://jobs.dou.ua/companies/miratech/vacancies/207079/">Senior Full-Stack Developer (React, Ruby)</a>
