<a class="vt" href="https://jobs.dou.ua/companies/patternica/vacancies/217606/">Salesforce intern</a>
<a class="vt" href="https://jobs.dou.ua/companies/patternica/vacancies/216277/">Swift+Kotlin Client Developer</a>
<a class="vt" href="https://jobs.dou.ua/companies/patternica/vacancies/216273/">Senior Backend Game Developer Golang/Dartlang</a>
<a class="vt" href="https://jobs.dou.ua/companies/patternica/vacancies/216269/">JavaScript Game Developer</a>
<a class="vt" href="https://jobs.dou.ua/companies/patternica/vacancies/215535/">Senior Full-stack developer (React, Node.js)</a>
