<a class="vt" href="https://jobs.dou.ua/companies/playtech/vacancies/215100/">ProdOps Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/playtech/vacancies/75590/">Senior Frontend Developer (The Bingo platform)</a>
<a class="vt" href="https://jobs.dou.ua/companies/playtech/vacancies/216661/">Junior Java Developer (MEXOS)</a>
<a class="vt" href="https://jobs.dou.ua/companies/playtech/vacancies/216003/">Java Developer, Live</a>
<a class="vt" href="https://jobs.dou.ua/companies/playtech/vacancies/215486/">Senior DevOps Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/playtech/vacancies/215485/">Data Scientist</a>
