<a class="vt" href="https://jobs.dou.ua/companies/playtika-ua/vacancies/215381/">Front End Developer</a>
<a class="vt" href="https://jobs.dou.ua/companies/playtika-ua/vacancies/217671/">QAAutomation Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/playtika-ua/vacancies/217665/">Java Developer (HOF)</a>
<a class="vt" href="https://jobs.dou.ua/companies/playtika-ua/vacancies/217476/">Full Stack Developer (React.js/Node.js)</a>
<a class="vt" href="https://jobs.dou.ua/companies/playtika-ua/vacancies/199793/">JavaScript Developer (House ofFun)</a>
<a class="vt" href="https://jobs.dou.ua/companies/playtika-ua/vacancies/217284/">CI/CD Software Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/playtika-ua/vacancies/217282/">Group Manager (Slotomania)</a>
<a class="vt" href="https://jobs.dou.ua/companies/playtika-ua/vacancies/214696/">Data Product Owner</a>
<a class="vt" href="https://jobs.dou.ua/companies/playtika-ua/vacancies/211514/">Java Developer (Slotomania)</a>
<a class="vt" href="https://jobs.dou.ua/companies/playtika-ua/vacancies/211863/">R&amp;D Group Manager</a>
<a class="vt" href="https://jobs.dou.ua/companies/playtika-ua/vacancies/211782/">System Architect</a>
<a class="vt" href="https://jobs.dou.ua/companies/playtika-ua/vacancies/214452/">Full Stack (Java/React) Developer (Core R&amp;D)</a>
<a class="vt" href="https://jobs.dou.ua/companies/playtika-ua/vacancies/207048/">Full Stack Developer (Core R&amp;D)</a>
<a class="vt" href="https://jobs.dou.ua/companies/playtika-ua/vacancies/216601/">Scrum Master</a>
<a class="vt" href="https://jobs.dou.ua/companies/playtika-ua/vacancies/113683/">Java Developer (Slotomania)</a>
<a class="vt" href="https://jobs.dou.ua/companies/playtika-ua/vacancies/215891/">R&amp;D Team Leader</a>
<a class="vt" href="https://jobs.dou.ua/companies/playtika-ua/vacancies/209673/">C# Developer (Ukraine, Remote)</a>
<a class="vt" href="https://jobs.dou.ua/companies/playtika-ua/vacancies/209672/">Unity Developer (Ukraine, Remote)</a>
<a class="vt" href="https://jobs.dou.ua/companies/playtika-ua/vacancies/203426/">C# Developer (Bucharest R&amp;D)</a>
<a class="vt" href="https://jobs.dou.ua/companies/playtika-ua/vacancies/203418/">Java Developer (Bucharest R&amp;D, Relocation)</a>
