<a class="vt" href="https://jobs.dou.ua/companies/sigma-software/vacancies/216812/?from=list_hot">Senior Test Automation Engineer (Insurance Project)</a>
<a class="vt" href="https://jobs.dou.ua/companies/sigma-software/vacancies/217729/">Middle Game Developer</a>
<a class="vt" href="https://jobs.dou.ua/companies/sigma-software/vacancies/217007/">Senior C/C++ Developer (IoT)</a>
<a class="vt" href="https://jobs.dou.ua/companies/sigma-software/vacancies/216979/">Сopywriter</a>
<a class="vt" href="https://jobs.dou.ua/companies/sigma-software/vacancies/216893/">Strong Junior/Middle Technical Support Engineer (with Azure)</a>
<a class="vt" href="https://jobs.dou.ua/companies/sigma-software/vacancies/216884/">Creative Designer</a>
<a class="vt" href="https://jobs.dou.ua/companies/sigma-software/vacancies/216846/">Middle Ruby Developer (Food Delivery Project)</a>
<a class="vt" href="https://jobs.dou.ua/companies/sigma-software/vacancies/179224/">Middle Test Automation Engineer (DanAds/AdTech)</a>
<a class="vt" href="https://jobs.dou.ua/companies/sigma-software/vacancies/214167/">Strong Middle/Senior Data Engineer (ETL/ELT tech domain)</a>
<a class="vt" href="https://jobs.dou.ua/companies/sigma-software/vacancies/209972/">Strong Middle Full Stack JavaScript Developer (New Opportunities)</a>
<a class="vt" href="https://jobs.dou.ua/companies/sigma-software/vacancies/216230/">Senior Data Architect (Adtech)</a>
<a class="vt" href="https://jobs.dou.ua/companies/sigma-software/vacancies/216229/">Senior Project Manager</a>
<a class="vt" href="https://jobs.dou.ua/companies/sigma-software/vacancies/216222/">Project Manager (Enterprise and Game Solutions Unit)</a>
<a class="vt" href="https://jobs.dou.ua/companies/sigma-software/vacancies/216095/">Middle C/C++ Developer (IoT)</a>
<a class="vt" href="https://jobs.dou.ua/companies/sigma-software/vacancies/216053/">Senior C/C++ Developer (IoT)</a>
<a class="vt" href="https://jobs.dou.ua/companies/sigma-software/vacancies/215821/">Senior GoEngineer (AdTech)</a>
<a class="vt" href="https://jobs.dou.ua/companies/sigma-software/vacancies/215792/">Senior DevOps Engineer (Wunderkind/AdTch)</a>
<a class="vt" href="https://jobs.dou.ua/companies/sigma-software/vacancies/207271/">Project Manager (Design And Web Solutions)</a>
<a class="vt" href="https://jobs.dou.ua/companies/sigma-software/vacancies/215651/">Senior Embedded Linux Developer</a>
<a class="vt" href="https://jobs.dou.ua/companies/sigma-software/vacancies/215548/">Middle/Senior Scala Engineer (SaaS solutions)</a>
