<a class="vt" href="https://jobs.dou.ua/companies/softserve/vacancies/217439/">Senior Ruby Software Engineer (ID83149)</a>
<a class="vt" href="https://jobs.dou.ua/companies/softserve/vacancies/217438/">Middle/Senior Ruby Engineer (ID83153)</a>
<a class="vt" href="https://jobs.dou.ua/companies/softserve/vacancies/217352/">Middle Ruby Software Engineer (ID83150)</a>
<a class="vt" href="https://jobs.dou.ua/companies/softserve/vacancies/217302/">Data &amp;Analytics Architect (Azure); ID82949</a>
<a class="vt" href="https://jobs.dou.ua/companies/softserve/vacancies/217213/">R&amp;D Products Director (ID83030)</a>
<a class="vt" href="https://jobs.dou.ua/companies/softserve/vacancies/217170/">Middle/Senior C++Engineer (Android); ID83036</a>
<a class="vt" href="https://jobs.dou.ua/companies/softserve/vacancies/217168/">Middle/Senior React Native Engineer (ID83054)</a>
<a class="vt" href="https://jobs.dou.ua/companies/softserve/vacancies/217042/">Middle/Senior Android Engineer (ID83104)</a>
<a class="vt" href="https://jobs.dou.ua/companies/softserve/vacancies/217041/">Lead Big Data Engineer (Python+AWS); ID82925</a>
<a class="vt" href="https://jobs.dou.ua/companies/softserve/vacancies/217040/">Product Manager (MLOps Focus); ID82995</a>
<a class="vt" href="https://jobs.dou.ua/companies/softserve/vacancies/216629/">VPofDelivery (ID80476)</a>
<a class="vt" href="https://jobs.dou.ua/companies/softserve/vacancies/216627/">Lead DevOps Engineer (ID82290)</a>
<a class="vt" href="https://jobs.dou.ua/companies/softserve/vacancies/211223/">Healthcare Solutions Architect (ID74989)</a>
<a class="vt" href="https://jobs.dou.ua/companies/softserve/vacancies/216335/">Senior Ruby onRails Engineer (ID82829)</a>
<a class="vt" href="https://jobs.dou.ua/companies/softserve/vacancies/216247/">Senior DevOps Engineer (AWS); ID82891</a>
<a class="vt" href="https://jobs.dou.ua/companies/softserve/vacancies/215940/">Middle/Senior Test Automation Engineer (Ruby); ID83165</a>
<a class="vt" href="https://jobs.dou.ua/companies/softserve/vacancies/215798/">GCP Cloud Architect (ID82604)</a>
<a class="vt" href="https://jobs.dou.ua/companies/softserve/vacancies/215797/">AWS Cloud Architect (ID82603)</a>
<a class="vt" href="https://jobs.dou.ua/companies/softserve/vacancies/215796/">Azure Cloud Architect (ID82602)</a>
<a class="vt" href="https://jobs.dou.ua/companies/softserve/vacancies/215496/">Middle/Senior Research Engineer (ID80199)</a>
