<a class="vt" href="https://jobs.dou.ua/companies/squad/vacancies/202634/?from=list_hot">Support Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/squad/vacancies/217258/?from=list_hot">Inventory Specialist Assistant (Contract)</a>
<a class="vt" href="https://jobs.dou.ua/companies/squad/vacancies/43411/?from=list_hot">Software Development Engineer inTest (Python)</a>
<a class="vt" href="https://jobs.dou.ua/companies/squad/vacancies/42868/?from=list_hot">Manual Firmware QAEngineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/squad/vacancies/42018/">Android Developer</a>
<a class="vt" href="https://jobs.dou.ua/companies/squad/vacancies/135595/">C/C++ Embedded Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/squad/vacancies/217416/">Head ofHROperations</a>
<a class="vt" href="https://jobs.dou.ua/companies/squad/vacancies/217268/">Illustrator/ Animator</a>
<a class="vt" href="https://jobs.dou.ua/companies/squad/vacancies/138138/">Research Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/squad/vacancies/158635/">Lab Infrastructure Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/squad/vacancies/214135/">Infrastructure Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/squad/vacancies/139326/">MLEngineer (C++/Python)</a>
<a class="vt" href="https://jobs.dou.ua/companies/squad/vacancies/203911/">Manual QAEngineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/squad/vacancies/47557/">Technical Project Manager (Research)</a>
<a class="vt" href="https://jobs.dou.ua/companies/squad/vacancies/113500/">Technical Program Manager</a>
<a class="vt" href="https://jobs.dou.ua/companies/squad/vacancies/216381/">Product Designer</a>
<a class="vt" href="https://jobs.dou.ua/companies/squad/vacancies/210498/">C++Video Streaming Engineer (Cloud team)</a>
<a class="vt" href="https://jobs.dou.ua/companies/squad/vacancies/213130/">Head ofResearch</a>
<a class="vt" href="https://jobs.dou.ua/companies/squad/vacancies/49011/">C/Embedded Engineer</a>
<a class="vt" href="https://jobs.dou.ua/companies/squad/vacancies/47070/">Java Software Development Engineer inTest (AQA)</a>
