<a class="vt" href="https://jobs.dou.ua/companies/starnavi/vacancies/155786/">ITSales Manager (Remote)</a>
<a class="vt" href="https://jobs.dou.ua/companies/starnavi/vacancies/209384/">Middle React Developer</a>
<a class="vt" href="https://jobs.dou.ua/companies/starnavi/vacancies/151521/">Middle Python Developer (Remote)</a>
