<a class="vt" href="https://jobs.dou.ua/companies/wirex-ltd/vacancies/204595/?from=list_hot">Senior Project Coordinator</a>
<a class="vt" href="https://jobs.dou.ua/companies/wirex-ltd/vacancies/85339/?from=list_hot">Senior Technical Product Owner</a>
<a class="vt" href="https://jobs.dou.ua/companies/wirex-ltd/vacancies/195168/">Middle QAEngineer (Web+Mobile)</a>
