<a class="vt" href="https://jobs.dou.ua/companies/yalantis/vacancies/215075/">DevOps Engineer (AWS)</a>
<a class="vt" href="https://jobs.dou.ua/companies/yalantis/vacancies/146166/">Engagement manager</a>
<a class="vt" href="https://jobs.dou.ua/companies/yalantis/vacancies/202168/">Rust developer</a>
<a class="vt" href="https://jobs.dou.ua/companies/yalantis/vacancies/216339/">Application Architect</a>
<a class="vt" href="https://jobs.dou.ua/companies/yalantis/vacancies/216290/">Middle React.js developer</a>
<a class="vt" href="https://jobs.dou.ua/companies/yalantis/vacancies/202617/">Middle Java Developer</a>
